button {
    border-radius: 20px;
    width: 173px;
    height: 44px;
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 2%;
    cursor: pointer;
    box-shadow: 4px 4px 7px #F8F8F8;

}