.section-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.text {
    font-weight: bold;
    margin-bottom: 59px;
}
.buttons {
    display:flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin: 2% 2% 5% 2%;
}